.form {
  margin:160px auto 0;
  max-width: 455px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.error-message {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #F7696B;
  font-size: 0.75rem;
  margin-top: 4px;
}

.error-message.error-message-checkbox {
  left: 0;
}

.css-1hbk014-MuiInputBase-root-MuiOutlinedInput-root {
  padding: 31.5px 14px !important;
  font-family: "Manrope", system-ui !important;
}

.custom-label {
  font-family: "Manrope", system-ui;
  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
  display: block;
}

.custom-label span {
  color: #FCB02D;
}

.css-1nof4sq-MuiButtonBase-root-MuiButton-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.4) !important;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 1.5em !important;
  height: 1.5em !important;
}

.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  padding-top: 20px !important;
}