.header {
  max-width: 1400px;
  width: 100%;
  position: fixed;
  top: 74px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

@media (max-width: 1680px) {
  .header {
    max-width: 1200px;
    top: 60px;
  }
}

@media (max-width: 1440px) {
  .header {
    max-width: 1100px;
    top: 55px;
  }
}

@media (max-width: 1280px) {
  .header {
    max-width: 1000px;
    top: 50px;
  }
}

@media (max-width: 1024px) {
  .header {
    max-width: 900px;
    top: 45px;
  }
}
